<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Circle Visualizer</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="visualizer-container">
        <canvas id="visualizer"></canvas>
    </div>
    <button onclick="startVisualizer()">Start Visualizer</button>
    <script src="{{url_for('static',path='/js/script.js')}}"></script>
</body>

</html>